In [1]:
d = '../data/pre/' # raw data directory

import os
import pandas as pd
import numpy as np
from collections import Counter
from time import time
from imblearn.under_sampling import RandomUnderSampler


# ## Load all csv files into pandas DataFrames
'''user ad position app_categories'''

user_installedapps = pd.read_csv('%suser_installedapps.csv' % d)
user_app_actions = pd.read_csv('%suser_app_actions.csv' % d)

In [2]:
tr_df = pd.read_csv('../data/pre/new_generated_train.csv', index_col=0)
te_df = pd.read_csv('../data/pre/new_generated_test.csv', index_col=0)

In [28]:
aC = pd.read_csv('../data/pre/app_categories.csv')

In [5]:
ui = user_installedapps.groupby('userID').apply(lambda df: tuple(df.appID.values)).reset_index()

In [32]:
aC.appID.max()

433269

In [6]:
ui.columns=['userID', 'insApps']

In [8]:
tr_df_ui = pd.merge(tr_df, ui, on='userID', how='left')

In [15]:
tr_df.columns[np.array(uni)<10]

Index(['label', 'connectionType', 'telecomsOperator', 'appPlatform', 'gender',
       'education', 'marriageStatus', 'haveBaby', 'sitesetID', 'positionType',
       'weekDay'],
      dtype='object')

In [21]:
uis.head()

userID
1     79
9      3
10    97
12    38
14    62
dtype: int64

In [34]:
user_app_actions.head()

   userID  installTime  appID
0       1       182032    933
1       5       141354    589
2       5       251727    565
3       5       260932    596
4       5       261318    536

In [35]:
uact_cate = pd.merge(user_app_actions, aC, on='appID', how='left')

In [36]:
uact_cate.head()

   userID  installTime  appID  appCategory
0       1       182032    933          106
1       5       141354    589          109
2       5       251727    565          203
3       5       260932    596          106
4       5       261318    536          104

In [47]:
uact_cate.installTime_d.max()

92

In [40]:
uact_cate['installTime_d'] = uact_cate.installTime.map(lambda x: int(str(x)[0:2]))

In [46]:
uact_cate = uact_cate.groupby('userID').apply(lambda df: tuple(df[['appID', 'appCategory', 'installTime_d']].values)).reset_index()

         userID                                                  0
0             1                                  ([933, 106, 18],)
1             5  ([589, 109, 14], [565, 203, 25], [596, 106, 26...
2            12  ([589, 109, 61], [536, 104, 61], [1014, 0, 71]...
3            14  ([49946, 0, 51], [59822, 0, 51], [78248, 0, 51...
4            19                                ([12129, 108, 21],)
5            20  ([357, 201, 21], [587, 408, 21], [914, 503, 21...
6            21  ([669, 209, 10], [897, 209, 10], [2678, 209, 1...
7            25  ([71137, 405, 61], [379, 203, 12], [906, 0, 13...
8            31                                  ([536, 104, 51],)
9            38  ([359, 203, 28], [360, 201, 28], [361, 2, 28],...
10           41  ([582, 407, 70], [636, 0, 70], [668, 0, 70], [...
11           44  ([4523, 106, 21], [536, 104, 22], [559, 405, 2...
12           47                                 ([2497, 503, 21],)
13           55  ([358, 201, 21], [369, 503, 71], [549, 405, 12...
14           57  ([706, 106, 28], [880, 0, 28], [930, 110, 28],...
15           58  ([589, 109, 10], [862, 109, 10], [579, 108, 51...
16           66                                  ([360, 201, 28],)
17           67  ([408, 203, 13], [5313, 106, 25], [882, 301, 2...
18           68  ([574, 0, 42], [549, 405, 51], [664, 405, 51],...
19           69                                 ([2800, 401, 62],)
20           73  ([899, 503, 10], [3134, 0, 16], [725, 106, 21]...
21           74  ([814, 401, 14], [4516, 401, 21], [582, 407, 21])
22           81  ([4247, 407, 17], [549, 405, 21], [592, 303, 2...
23           83                                 ([3318, 105, 82],)
24           84   ([572, 106, 21], [579, 108, 12], [536, 104, 24])
25           85    ([5798, 0, 80], [2520, 0, 10], [2207, 203, 12])
26           89                                    ([939, 0, 17],)
27           90  ([16311, 0, 24], [11550, 0, 24], [1582, 0, 24]...
28           95  ([837, 0, 11], [357, 201, 22], [612, 203, 30],...
29          101                                  ([715, 503, 21],)
...         ...                                                ...
781082  2805031  ([1034, 405, 11], [541, 405, 22], [536, 104, 1...
781083  2805032  ([357, 201, 42], [582, 407, 42], [441, 503, 51...
781084  2805034                  ([6201, 203, 17], [756, 402, 18])
781085  2805039  ([2008, 0, 11], [922, 0, 12], [362, 409, 16], ...
781086  2805040                                  ([777, 301, 13],)
781087  2805042                  ([608, 110, 71], [5820, 104, 11])
781088  2805043  ([614, 503, 16], [360, 201, 16], [587, 408, 16...
781089  2805048  ([740, 209, 13], [771, 105, 13], [799, 303, 13...
781090  2805060  ([630, 405, 22], [592, 303, 60], [711, 0, 61],...
781091  2805061                                 ([4365, 301, 30],)
781092  2805064                 ([4690, 301, 10], [1064, 503, 17])
781093  2805065                                  ([386, 301, 32],)
781094  2805070                   ([968, 106, 11], [536, 104, 24])
781095  2805073                                ([27398, 401, 21],)
781096  2805076  ([1528, 407, 11], [357, 201, 11], [723, 0, 11]...
781097  2805079  ([360, 201, 21], [362, 409, 21], [549, 405, 22...
781098  2805084  ([536, 104, 24], [541, 405, 24], [559, 405, 24...
781099  2805088  ([1344, 109, 50], [559, 405, 12], [771, 105, 1...
781100  2805092  ([395, 503, 52], [536, 104, 52], [667, 503, 52...
781101  2805096                                  ([536, 104, 23],)
781102  2805097  ([360, 201, 17], [362, 409, 17], [600, 401, 17...
781103  2805098                  ([1569, 103, 11], [579, 108, 11])
781104  2805099                  ([2536, 104, 30], [957, 109, 30])
781105  2805100                  ([7152, 211, 24], [608, 110, 25])
781106  2805103  ([601, 0, 20], [564, 203, 20], [1518, 210, 20]...
781107  2805107                                 ([2788, 106, 42],)
781108  2805109                                 ([8295, 106, 18],)
781109  2805113                  ([1032, 104, 30], [957, 109, 30])
781110  2805115  ([944, 401, 21], [653, 0, 22], [6663, 0, 23], ...
781111  2805117  ([635, 209, 13], [596, 106, 29], [771, 105, 29...

[781112 rows x 2 columns]

### user actions

In [ ]:
ua  = user_app_actions.groupby('userID').apply(lambda df: tuple(df.appID.values)).reset_index()
us.columns = ['userID', 'actApps']

In [17]:
tr_df.appID.describe()

count    3.749528e+06
mean     3.703212e+02
std      1.440570e+02
min      1.400000e+01
25%      3.600000e+02
50%      4.650000e+02
75%      4.650000e+02
max      4.720000e+02
Name: appID, dtype: float64

In [33]:
user_app_actions.head()

   userID  installTime  appID
0       1       182032    933
1       5       141354    589
2       5       251727    565
3       5       260932    596
4       5       261318    536

In [ ]:
ua_with_cate = pd.merge(ua)