In [2]:
import pandas as pd
tr_df = pd.read_csv('../data/pre/new_generated_train.csv', index_col=0)
te_df = pd.read_csv('../data/pre/new_generated_test.csv', index_col=0)
aC = pd.read_csv('../data/pre/app_categories.csv')

In [3]:
al = pd.concat([tr_df.appCategory, te_df.appCategory, va_df.appCategory, aC.appCategory], ignore_index=True)

In [4]:
adAppCate = pd.DataFrame({'appCategory': al.values})
adAppCate = pd.get_dummies(adAppCate.appCategory)

In [5]:
tr = adAppCate[:len(tr_df)]

In [6]:
te = adAppCate[len(tr_df):len(tr_df)+len(te_df)]

In [7]:
tr.to_csv('../data/pre/new_adAppCate_tr.csv')

In [8]:
te.to_csv('../data/pre/new_adAppCate_te.csv')

In [9]:
tr_ = pd.read_csv('../data/pre/new_adAppCate_te.csv', index_col=0)

In [11]:
tr_.head()

,0,1,2,101,103,104,105,106,108,109,...,303,401,402,403,405,406,407,408,409,503
3749528,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3749529,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3749530,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3749531,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3749532,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0