In [1]:
"""
baseline 1: history pCVR of creativeID/adID/camgaignID/advertiserID/appID/appPlatform
"""

import zipfile
import numpy as np
import pandas as pd

In [2]:
tr = pd.read_csv('../data/pre/new_generated_train.csv', index_col=0)
te = pd.read_csv('../data/pre/new_generated_test.csv', index_col=0)

In [3]:
tr.head()

,label,creativeID,userID,positionID,connectionType,telecomsOperator,adID,camgaignID,advertiserID,appID,...,haveBaby,hometown,residence,sitesetID,positionType,clickTime_d,weekDay,clickTime_h,clickTime_m,conversionTime_d
0,0,3089,2798058,293,1,1,1321,83,10,434,...,1,0,1301,0,3,17,4,0,0,0
1,0,1259,463234,6161,1,2,1535,685,80,14,...,0,0,213,0,1,17,4,0,0,0
2,0,4465,1857485,7434,4,1,147,460,3,465,...,0,0,1502,0,1,17,4,0,0,0
3,0,1004,2038823,977,1,1,411,564,3,465,...,0,0,1001,0,1,17,4,0,0,0
4,0,1887,2015141,3688,1,1,369,144,84,360,...,0,1001,1001,0,1,17,4,0,0,0

In [4]:
te.head()

,instanceID,label,creativeID,userID,positionID,connectionType,telecomsOperator,adID,camgaignID,advertiserID,...,haveBaby,hometown,residence,sitesetID,positionType,clickTime_d,weekDay,clickTime_h,clickTime_m,conversionTime_d
0,1,-1,3745,1164848,3451,1,3,1166,430,80,...,1,605,605,0,1,31,4,0,0,0
1,2,-1,2284,2127247,1613,1,3,1388,325,80,...,0,2205,2301,0,1,31,4,0,0,0
2,3,-1,1456,2769125,5510,2,1,3379,411,3,...,0,0,1502,0,1,31,4,0,0,0
3,4,-1,4565,9762,4113,2,3,3593,632,3,...,0,2405,2407,0,1,31,4,0,0,0
4,5,-1,49,2513636,3615,1,3,1469,535,80,...,0,307,307,0,1,31,4,0,0,0

In [12]:
fs = tr.columns.values[1:]
fs

array(['creativeID', 'userID', 'positionID', 'connectionType',
       'telecomsOperator', 'adID', 'camgaignID', 'advertiserID', 'appID',
       'appPlatform', 'age', 'gender', 'education', 'marriageStatus',
       'haveBaby', 'hometown', 'residence', 'sitesetID', 'positionType',
       'clickTime_d', 'weekDay', 'clickTime_h', 'clickTime_m',
       'conversionTime_d'], dtype=object)

In [15]:
lst = [] # skip userID

In [42]:
key = 'conversionTime_d'
s = tr.groupby(key).apply(lambda df: np.mean(df.label))
lst.append(s.std())
s.describe(),

(count    15.000000
 mean      0.933333
 std       0.258199
 min       0.000000
 25%       1.000000
 50%       1.000000
 75%       1.000000
 max       1.000000
 dtype: float64,)

In [49]:
ffs = ['creativeID', 'positionID', 'connectionType',
       'telecomsOperator', 'adID', 'camgaignID', 'advertiserID', 'appID',
       'appPlatform', 'age', 'gender', 'education', 'marriageStatus',
       'haveBaby', 'hometown', 'residence', 'sitesetID', 'positionType',
       'clickTime_d', 'weekDay', 'clickTime_h', 'clickTime_m']

False

In [51]:
nlst = []
for f in ffs:
    key = f
    s = tr.groupby(key).apply(lambda df: np.mean(df.label))
    nlst.append(s.std())

In [52]:
len(ffs)==len(nlst)

True

In [83]:
n = list(zip(ffs, nlst))
n = pd.DataFrame(n)
ls = n.sort_values(by=1, ascending=False)[0]

In [84]:
ls.values

array(['positionID', 'positionType', 'creativeID', 'appID', 'adID',
       'advertiserID', 'camgaignID', 'sitesetID', 'connectionType',
       'residence', 'age', 'hometown', 'haveBaby', 'telecomsOperator',
       'gender', 'education', 'clickTime_h', 'clickTime_d', 'weekDay',
       'marriageStatus', 'appPlatform', 'clickTime_m'], dtype=object)