In [59]:
import pandas as pd
import os
import shutil
import json
import numpy as np
from time import time, strftime
from keras import backend as K
from collections import Counter
from keras.models import load_model, Sequential
from keras.utils import plot_model, to_categorical
from keras.callbacks import TensorBoard
from keras.layers import Dense, Embedding, LSTM, GRU, SimpleRNN
from keras.layers import Dropout, Bidirectional, Flatten

In [60]:
tr = pd.read_csv('../data/pre/new_generated_train.csv', index_col=0)
te = pd.read_csv('../data/pre/new_generated_test.csv', index_col=0)

In [66]:
tr.max().values

array([2805118,      80,       2,       7,       3,       6,    3401,
          3401,    6582,    3616,     720,      91,     472,       2,
          7645,       2,       5,      30,      23,      59,       4,
             3,       1])

In [27]:
max_feature_10 = ['gender', 'education', 'marriageStatus', 'haveBaby', 'appPlatform', 
                  'sitesetID', 'positionType', 'connectionType', 'telecomsOperator' ]
max_feature_50 = 
max_feature_100 = ['age', 'advertiserID' ]

Counter({0: 3656266, 1: 93262})

In [71]:
tr = tr.values

In [74]:
[tr[:, 0:1] for i in range(3)]

[array([[2798058],
        [ 463234],
        [1857485],
        ...,
        [1163462],
        [  89477],
        [  93736]]), array([[2798058],
        [ 463234],
        [1857485],
        ...,
        [1163462],
        [  89477],
        [  93736]]), array([[2798058],
        [ 463234],
        [1857485],
        ...,
        [1163462],
        [  89477],
        [  93736]])]

In [36]:
tr['day'].unique()

array([17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30])

In [48]:
day_cv = []
for i in tr['day'].unique():
    a = len(tr.loc[    (tr['day'] == i)       ])
    day_cv.append(a)

In [49]:
day_cv

[294553,
 159991,
 104158,
 206462,
 308596,
 325921,
 288433,
 285242,
 266833,
 297825,
 296714,
 278634,
 301769,
 334397]